<section class="page">
  <div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          formControlName="username"
          [class.invalid]="
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.touched
          "
        />
        <div
          *ngIf="
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.touched
          "
          class="error"
        >
          Username must be at least 3 characters.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          [class.invalid]="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="error"
        >
          Please enter a valid email.
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          [class.invalid]="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="error"
        >
          Password must be at least 6 characters.
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          [class.invalid]="
            registerForm.hasError('notMatching') &&
            registerForm.get('confirmPassword')?.touched
          "
        />
        <div
          *ngIf="
            registerForm.hasError('notMatching') &&
            registerForm.get('confirmPassword')?.touched
          "
          class="error"
        >
          Passwords do not match.
        </div>
      </div>

      <button type="submit" [disabled]="registerForm.invalid || isLoading">
        {{ isLoading ? "Registering..." : "Register" }}
      </button>
    </form>

    <button (click)="registerWithGoogle()">register with google</button>
  </div>
</section>
