<!-- <div id="старт" >
  <app-hiro />
</div>

<div id="відгуки" class="scroll-mt-10 md:scroll-mt-24">
  <app-reviews />
</div> -->


<section class="page">

<form class="flex">
  <input type="email" name="email" id="email" placeholder="email">
  <input type="password" name="password" id="password" placeholder="password">

  <button type="submit">submit</button>
</form>


hero
-тонка полоска з акціями (статично)
-свайпер з закликами
текст \ фото


бігуща строка з акціями і знижками

статична полоска з гарантіями

категорії

картка категорії
картка категорії
картка категорії
картка категорії

блок з великим фото і призовом

популярні товари
картка
картка
картка
картка

нові тованри
картка
картка
картка
картка

відгуки
відгук свайпер

бонуси
бонус бонус бонус

футер
</section>
